<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>贴吧签到 V2.0</title>
    <link href=/static/css/app.9dd2927f.css rel=preload as=style>
    <link href=/static/css/chunk-vendors.717c90ab.css rel=preload as=style>
    <link href=/static/js/app.ad44f1df.js rel=preload as=script>
    <link href=/static/js/chunk-vendors.5fbe2a6a.js rel=preload as=script>
    <link href=/static/css/chunk-vendors.717c90ab.css rel=stylesheet>
    <link href=/static/css/app.9dd2927f.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=/static/js/chunk-vendors.5fbe2a6a.js></script>
<script src=/static/js/app.ad44f1df.js></script>
</body>
</html>