<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>贴吧签到 V2.0</title>
    <meta name="author" content="ghosx@qq.com">
    <meta name="description" content="基于云端的自动签到工具，签到你的贴吧，解放你的双手">
    <link href=static/css/app.91f63cb1.css rel=preload as=style>
    <link href=static/css/chunk-vendors.d39e9fad.css rel=preload as=style>
    <link href=static/js/app.883ba71f.js rel=preload as=script>
    <link href=static/js/chunk-vendors.1f200171.js rel=preload as=script>
    <link href=static/css/chunk-vendors.d39e9fad.css rel=stylesheet>
    <link href=static/css/app.91f63cb1.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=static/js/chunk-vendors.1f200171.js></script>
<script src=static/js/app.883ba71f.js></script>
</body>
</html>