{% extends 'base.html' %}
{% block title %}
    登录
{% endblock %}

{% block main %}
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">使用个人 SECRET 登录 </h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2" >
                        <div class="input-group">
                          <form action="" method="post">
                            {% csrf_token %}
                            <p><input type="text" class="form-control" placeholder="输入 SECRET" name="unsure"></p>
                            <input type="reset" name="reset" class="btn btn-warning">
                            <input type="submit" name="submit" value="登录" class="btn btn-success">
                        </form>
                            {% if msg %}
                                 <p style="font-style: oblique;font-size: 110%;color: red;margin-top: 20px">{{ msg }}</p>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}