{% extends 'base.html' %}
{% block title %}
    绑定成功
{% endblock %}

{% block main %}
    <div class="col-md-6 col-md-offset-4">
        <div style="margin-top: 3%">
            <span style="font-size: 30px"><p>恭喜您：{{ username }} 绑定成功！</p></span>
            <span style="font-size: 30px"><p>一切签到自动完成，无需配置</p></span>
            <p>
                <a href="/info/">
                <button class="btn btn-success">添加云顶贴</button></a>
                <input class="btn btn-warning" type="button" value="关闭本页" onClick="custom_close()"/>
            </p>
            <script language="javascript">
                function custom_close() {
                    if (confirm("您确定要关闭本页吗？")) {
                        window.opener = null;
                        window.open('', '_self');
                        window.close()
                    } else {
                    }
                }
            </script>
        </div>
    </div>

{% endblock %}