{% extends 'base.html' %}
{% block title %}
    关于
{% endblock %}

{% block main %}
    <div style="margin-top: 3%">
        <h2># 关于本站</h2>
        <p>这是作者练手的第一个项目，如有不足，敬请指出</p>
        <h2># 关于作者</h2>
        <p>ghosx@qq.com</p>
        <h2># 相关讨论</h2>
        <p>qq群:818794879</p>
        <h2># 更新日志</h2>
         <b>2018年8月16日</b>
        <ul>
            <li>增加轮询，实时签到新用户的贴吧</li>
        </ul>
        <b>2018年8月14日</b>
        <ul>
            <li>增加客户端回帖</li>
            <li>增加扫码获取 bduss 功能</li>
            <li>增加签到功能</li>
            <li>修复部分UI</li>
        </ul>
        <b>2018年8月5日</b>
        <ul>
            <li>完成第一个初步版本</li>
        </ul>
        <b>2018年7月31日</b>
        <ul>
            <li>开坑</li>
        </ul>
    </div>

{% endblock %}