{% extends 'base.html' %}
{% block title %}
    关于
{% endblock %}

{% block main %}
    <div style="margin-top: 3%">
        <h2># 关于本站</h2>
        <p>这是作者练手的第一个项目，如有不足，敬请指出</p>
        <p>Github地址:<a href="https://github.com/ghosx/TiebaProject" target="_blank">求Star</a> </p>
        <h2># 关于作者</h2>
        <p>ghosx@qq.com</p>
        <h2># 相关讨论</h2>
        <p>qq群:<code>818794879</code></p>
        <h2># 更新日志</h2>
        <b>2018年12月28日</b>
        <ul>
            <li>尝试使用gevent协程签到，提高速度</li>
        </ul>
        <b>2018年10月20日</b>
        <ui>
            <li>修复了若干BUG/</li>
        </ui>
        <b>2018年9月1日</b>
        <ul>
            <li>修复更新关注贴吧不全的错误</li>
            <li>添加机器人模式,详情查看机器人页面</li>
        </ul>
        <b>2018年8月23日</b>
        <ul>
            <li>修复只能签到200个贴吧的错误</li>
        </ul>
         <b>2018年8月16日</b>
        <ul>
            <li>增加轮询，实时签到新用户的贴吧</li>
        </ul>
        <b>2018年8月14日</b>
        <ul>
            <li>增加客户端回帖</li>
            <li>增加扫码获取 bduss 功能</li>
            <li>增加签到功能</li>
            <li>修复部分UI</li>
        </ul>
        <b>2018年8月5日</b>
        <ul>
            <li>完成第一个初步版本</li>
        </ul>
        <b>2018年7月31日</b>
        <ul>
            <li>开坑</li>
        </ul>
    </div>

{% endblock %}