{% extends 'base.html' %}
{% block title %}
    添加帖子
{% endblock %}
{% block main %}
    {% if request.session.user %}
        <h2>欢迎您 {{ request.session.user }} </h2>
            {% if msg %}
                <p class="bg-success">{{ msg }}</p>
                {% else %}
            {% endif %}
            <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <p>帖子id: <input type="number" id="tid" name="tid" ></p>
                <p>是否楼中楼: <input type="radio" id="lou" name="lou" value="no" checked="checked">否
                <input type="radio" name="lou" value="yes">是</p>
                <span id="span" style="margin-top: 3px;">
                </span>
                <p>时间: <input type="number" name="time" min="1" max="1024" step="1" value="5"></p>
                <input type="reset" id="reset" value="重置" class="btn btn-warning">
                <input type="submit" id="submit" value="提交" class="btn btn-success">
            </form>
        <script>
           $(function(){
              $(":radio").click(function(){
                if($(this).val()=='yes'){
                    $('#span').html('楼层号: <input type="number" min="2" step="1" name="floor">');
                }else if ($(this).val()=='no'){
                    $('#span').html('');
                }
              });
             });
        </script>
    {% else %}
        <h3>用户未登录</h3>
    {% endif %}
{% endblock %}