{% extends 'base.html' %}

{% block title %}
    获取BDUSS
{% endblock %}

{% block main %}
    <h2>使用 手机百度 或者 百度贴吧 扫码</h2>
   {% if img %}
        <img src="{{ img }}">

        <form method="post">
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-success btn-lg" value="qcode" name="submit">扫码后点我！</button>
        </form>


    {% else %}
    {% endif %}

    {% if bduss %}
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            BDUSS: <input type="text" name="bduss" class=" input-lg" value="{{ bduss }}" maxlength="192" />
            <input type="submit" name="submit" value="填好啦绑定" class="btn btn-success">
        </form>
    {% else %}

    {% endif %}

{% endblock %}