{% extends 'base.html' %}

{% block title %}
    贴吧云回
{% endblock %}

{% block main %}
    <h2>贴吧云回 Beta V0.1 </h2>
        <form action="" method="post">
            {% csrf_token %}
            <p>BDUSS: <input type="text" name="bduss"></p>
            <input type="reset" name="reset" class="btn btn-warning">
            <input type="submit" name="submit" class="btn btn-success">
        </form>
        {% if msg %}
            <p style="font-style: oblique;font-size: 110%;color: red;margin-top: 20px">{{ msg }}</p>
            {% else %}
        {% endif %}
{% endblock %}