{% extends 'base.html' %}

{% block title %}
    个人中心
{% endblock %}

{% block main %}
    {% if request.session.user %}
        <h1>你的账户 {{ request.session.user }} 添加成功</h1>
        <h3>以下是你的重要信息，请记住</h3>
        <ol>
            <h4><li>SECRET: <span style="color: red;font-size:110%;font-style: oblique">{{ request.session.token }} </span> 这是识别你身份的唯一凭证，凭此登录</li></h4>
        </ol>

        <hr>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    用户名
                </th>
                <th>
                    已绑定
                </th>
                <th>
                    已签到
                </th>
                <th>
                    未签到
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span style="color: red">{{ username }} </span>
                </td>
                <td>
                    <span style="color: red">{{ allbind }} </span>
                </td>
                <td>
                    <span style="color: red">{{ signed }} </span>
                </td>
                <td>
                    <span style="color: red">{{ unsigned }} </span>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <hr>
        {% if msg %}
            <p class="bg-danger">{{ msg }}</p>
        {% else %}
        {% endif %}
        <h2>云回</h2>
    <table class="table table-striped">
        <thead>
                <tr>
                    <th>id</th>
                    <th>贴吧</th>
                    <th>帖子</th>
                    <th>楼中楼</th>
                    <th>时间</th>
                    <th>成功/失败</th>
                    <th>暂停</th>
                    <th>暂停次数</th>
                    <th>操作</th>
                </tr>
        </thead>
        <tbody>
            {% for i in data %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                     <td>{{ i.tid }}</td>
                    <td>{% if i.isLou %}
                            {{ i.floor }}
                        {% else %}
                            否
                        {% endif %}
                    </td>
                    <td>{{ i.time }}</td>
                    <td>{{ i.success }} / {{ i.fail }}</td>
                    <td>
                        {% if i.stop %}
                            是
                        {% else %}
                            否
                        {% endif %}
                    </td>
                    <td>{{ i.stop_times }}</td>
                    <td>
                        <button class="btn" id="del{{ i.id }}">删除</button>
                        <button class="btn" id="switch{{ i.id }}">
                            {% if i.stop %}
                                开始
                            {% else %}
                                暂停
                            {% endif %}
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                    <td>nothing...</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{% url 'add' %}">
            <button class="btn btn-success">添加帖子</button>
        </a>
    </div>
    <script>
        $(function () {
            $("[id^=del]").click(function () {
                var id = $(this).closest('tr').find('td').first().text();
                $(this).closest('tr').remove();
                $.get('/del/'+id+'/')
            })
            $("[id^=switch]").click(function () {
                var id = $(this).closest('tr').find('td').first().text();
                var a = $.trim($(this).closest('tr').find('td:eq(6)').text());
                if(a == '是'){
                    $(this).closest('tr').find('td:eq(6)').text('否');
                }else{
                    $(this).closest('tr').find('td:eq(6)').text('是');
                }
                console.log();
                if('开始'==$.trim($(this).closest('tr').find('td:eq(8) button:eq(1)').text())){
                    $(this).closest('tr').find('td:eq(8) button:eq(1)').text('暂停');
                }else{
                    $(this).closest('tr').find('td:eq(8) button:eq(1)').text('开始');
                }
                $.get('/switch/'+id+'/');
            })
        })
    </script>
    {% else %}
        <h2>用户未登录</h2>
    {% endif %}
{% endblock %}