{% extends 'base.html' %}
{% block title %}
    登录
{% endblock %}

{% block main %}

    <h2>推荐使用TOKEN</h2>
     <form action="" method="post">
        {% csrf_token %}
        <p>BDUSS / TOKEN :<input type="text" name="unsure"></p>
        <input type="reset" name="reset" class="btn btn-warning">
        <input type="submit" name="submit" value="登录" class="btn btn-success">
    </form>
        {% if msg %}
             <p style="font-style: oblique;font-size: 110%;color: red;margin-top: 20px">{{ msg }}</p>
        {% else %}
        {% endif %}

{% endblock %}